/*

Student Name: Bryan Sevilla
Assignment Name: Project 3
Date: 3/31/2026 */
* {
  margin: 0px;
}
h1 {
  color: #e1d9bc;
}
h2 {
  font-family: Geneva, Tahoma, sans-serif;
}
h3 {
  text-align: center;
}

p {
  font-family: Verdana, sans-serif;
  text-align: center;
}
a:hover {
  color: #25bbae;
}

.contentbox .part1 {
  margin-top: 20px;
}

.contentbox .part2 {
  margin-top: 20px;
}

.contentbox .part3 {
  margin-top: 20px;
}

#rightSideWrapper.part4 {
  margin-top: 20px;
}
#rightSideWrapper .part4 img {
  height: 200px;
  width: 200px;
  display: block;
  margin: 0 auto;
  border: 8px solid #e1d9bc;
  border-radius: 50%;
  float: left;
  margin-top: 35px;
  margin-left: 50px;
}
#rightSideWrapper h1 {
}

#rightSideWrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px; /* space between links */
  text-align: center;
}

#rightSideWrapper ul li {
  padding-left: 20px;
}

#rightSideWrapper ul li a {
  text-decoration: none;
}

#rightSideWrapper {
  /*Strictly Necessary */
  width: 100%;

  /*Aesthetics*/
  background: #e1d9bc;
}

header {
  /*Strictly Necessary */
  width: 100%;
  height: 300px; /*Adjust the hight to your purposes*/
  display: flex;
  align-items: center; /* vertically centers everything */
  justify-content: space-between; /* spaces logo, title, and menu evenly */
  padding: 10px 20px;
  background: #30364f;
  border-radius: 7px;
  color: #e1d9bc;
}

.contentbox {
  margin-top: 25px; /*The height of the   header*/
  display: flex;
  flex-flow: row wrap;
}

#Gallery_1 p {
  padding-top: 5px;
  padding-bottom: 5px;
}

#Gallery_1 img {
  width: 700px;
  border: 5px solid #25bbae;
  margin-bottom: 5px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 10px solid rgb(64, 128, 247);
}

main,
section,
footer {
  /*Aesthetics*/
  background: #f0f0db;
  border-radius: 7px;
  margin: 5px;
  padding: 20px;
}

main {
  /*Strictly Necessary */

  order: 1;
  flex: 0 1 100%;
}

section {
  /*Strictly Necessary */

  order: 2;
  flex: 0 1 100%;
}

footer {
  /*Strictly Necessary */
  order: 3;
  flex: 0 1 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
  text-align: center;
  margin-block-end: 2.5rem;
}

.stock-ticker {
  font-size: 15px;
  padding-block: 8px;
  border-block: 1px solid;
  overflow: hidden;
  user-select: none;

  --gap: 20px;
  display: flex;
  gap: var(--gap);
}

.stock-ticker ul {
  list-style: none;
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);

  animation: scroll 20s linear infinite;
}

.stock-ticker:hover ul {
  animation-play-state: paused;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.stock-ticker ul:first-child {
  /* background-color: yellow; */
}

.stock-ticker ul:last-child {
  /* background-color: pink; */
}

.stock-ticker .company,
.stock-ticker .price {
  font-weight: bold;
}

.stock-ticker .price {
  margin-inline: 4px;
}
